/* Карта */
body {
    overflow: scroll;
}
div.map.content {
    height: 30vh;
    min-height: 200px;

    background-color: rgb(72, 74, 77);
    border-top: 1px #f9f9f9 solid;
    border-bottom: 1px #f9f9f9 solid;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img.map.actual {
    height: 100%;
}
div.map.not-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.map.text {
    align-self: center;
    text-indent: 10%;
    padding: 8px 16px;
}
div.map.contacts {
    align-self: flex-end;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.contact-item.header {
    padding: 0 0 10px 0;
    font-size: 150%;
}
div.contact-item {
    align-self: flex-end;
    padding: 4px 0;
}
div.contact-item > a {
    text-decoration: none;
}
div.contact-item > a:visited {
    color: #f9f9f9;
}
div.contact-item > a:hover {
    color: darkolivegreen;
    text-decoration: none;
}