header {
    top: 0;
    position: sticky;
    z-index: 2;

    height: var(--header-height);
    background-color:#2a2c2f;
    border-bottom: solid #F9F9F9 1px;

    font-weight: 600;
}
div.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin: auto 10%;
}
.head-element {
    align-self: center;
}

.logo-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: fit-content;
    max-width: max-content;
}
.info-element {
    align-self: center;
    padding: 0 16px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.info-elem-logo {
    align-self: center;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: solid #F9F9F9 2px;
}
.info-elem-name {
    align-self: center;
    font-size: 150%;
    color: #F9F9F9;
}

.navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100%;
    width: fit-content;
    max-width: max-content;
}
.nav-element {
    text-decoration: none;
    align-self: center;
    padding: 0 16px;
    margin: 0;
    height: 100%;
    display: flex;
}
.nav-element:hover {
    background-color: gray;
    cursor: pointer;
}
.nav-elem-text {
    align-self: center;
    font-size: 150%;
    color: #F9F9F9;
}

div.welcome {
    height: 0;
    margin-bottom: 30vmax;
}
img.welcome-img {
    position: relative;
    bottom: 10vmax;
    z-index: 0;

    min-height: calc(2.5 * var(--header-height));
    width: 100%;
}