h4.about {
    margin: 0 auto 10px 5%;
}
img.poster {
    margin-left: 24px;
    float: right;
    border: solid  #F9F9F9 2px;
    width: 35%;
    height: auto;
}
div.about.content-text {
    text-indent: 10%;
}