div.welcome {
    height: 0px;
    z-index: 0;
}
img.welcome-img {
    width: 100%;
    align-content: center;
}

main {
    margin-top: calc(3.5 * var(--header-height));
    padding: 8px;
    min-height: 600px;

    position: relative;
    z-index: 1;
    
    background-color: white;

    display: flex;
    flex-direction: column;
}

div.section {
    margin: 8px 5px;
    padding: 8px 5px;
}

h1 {
    text-align: center;
    font-size: 250%;
    font-style: italic;
    margin: auto;
    width: 80%;
    border-top: solid black 2px;
}
h4 {
    margin: 0 0 10px 32px;
    font-size: 150%;
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aside-content {
    min-width: 35%;
}


/* header {
    height: min-content;
    padding-top: 152px;

    background-image: url("../img/pepe.png");
    background-size: cover;
    background-position: center top;
} */

/* header .references {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 auto;
    max-width: max-content;
    width: fit-content;
} */

/* a.button {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: darkgray;
    padding: 4px;
    margin-left: 4px;
} */

/* a.button:hover {
    background-color: grey;
} */

/* body {
    background: rgb(60, 80, 120) url("../img/forest.jpg") no-repeat 100% 100%;
    background-size: cover;
    background-position: center top;

    margin: 0;
    padding: 0;
} */

/* .page {
    width: 70%; 
    max-width: 550px;
    min-width: 150px;
    margin: auto;

    color: white;
    font-size: 16px;
    font-family: Roboto-Regular, serif;
} */

/* main {
    padding: 14px;
    border: 3px solid darkgrey;
    margin: 0;
    background: rgba(20, 20, 20, 0.7);
} */

/* .lead .content{
    display: flex;
    flex-direction: column-reverse;
} */

/* .lead .title {
    font-size: 250%;
    font-weight: bold;
    margin: 0 0 8px;
} */

/* .lead img {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0;
    align-self: center;
} */

/* h4 {
    font-size: 150%;
    width: 75%;
    border-bottom: 2px solid darkgrey;
    text-align: center;
    margin: 18px auto 10px
} */

/* .content {
    display: block;
    width: 95%;
    margin: auto;
} */

/* #introduction #my_name {
    font-size: 120%;
    font-weight: bold;
    margin: auto;
} */

/* #introduction #about_me {
    margin: 0;
} */

/* #features .content dl {
    margin: auto;
} */

/* #features .content dl dt {
     font-weight: bold;
     margin: auto;
 } */

/* #features .content dl dd {
    margin: 2px auto 2px 20px;
} */

/* #successes ul {
    margin: 0;
    padding: 0 0 0 20px;
} */

/* #art {
    display: table;
    text-align: center;
    font-family: Consolas, sans-serif;
    margin: 0 auto
} */

/* #cite {
    margin: auto;
    align-self: center;
} */

/* #bear {
    border: 3px solid darkgrey;
    float: right;
    margin-left: 20px;
} */

/* #my_code {
    clear: both;
    text-align: center;
} */

/* footer .references {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 auto;
    width: fit-content;
} */

/* button.contacts {
    font-family: inherit;
    font-size: inherit;
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 0;
    background-color: darkgrey;
    padding: 4px;
	cursor: pointer;
} */

/* button.contacts:hover {
    background-color: grey;
} */

/* .window {
	display: none;
	position: fixed;
    right: 5%;
    bottom: 5%;
    min-width: max-content;
    width: 15%;
	height: fit-content;
} */

/* #flex-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
} */

/* #contacts-close {
    width: max-content;
    height: max-content;
    align-self: flex-start;
} */

/* #contacts-list {
    border: 3px solid darkgrey;
    margin: 0;
    background: rgba(20, 20, 20, 0.7);
    height: 100%;
    display: flex;
    flex-direction: column;
} */

/* .contacts-title {
    align-self: center;
    text-transform: uppercase;
    font-weight: bold;
} */

/* .contacts-var {
    align-self: flex-start;
} */

/* .contacts-content {
    align-self: flex-end;
} */

/* .contacts {
    font-family: inherit;
	color: inherit;
	text-decoration: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    border: 0;
} */

/* a.contacts:hover {
	color: #8c3535;
} */