div.welcome {
    height: 0;
}
img.welcome-img {
    position: relative;
    bottom: 10vmax;
    z-index: 0;

    min-height: calc(2.5 * var(--header-height));
    width: 100%;
    align-content: center;
}

main {
    margin-top: 30vmax;

    min-height: 600px;

    position: relative;
    z-index: 1;
    
    color: #F9F9F9;
    background-color:#2a2c2f;
    border-top: solid #F9F9F9 1px;
}
.main-wrapper {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 600%;
    font-style: italic;
    font-weight: 900;
    margin: auto;
    width: 80%;
    /* border-top: solid  #F9F9F9 1px; */
}
h4 {
    margin: 0 0 10px 5%;
    font-size: 400%;
}

div.section {
    padding: 48px 0;
}

div.section.about {
    width: 35%;
}
div.section.about div.content {
    line-height: 163%;
}

ul.photo-grid {
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    
    display: grid;
    list-style: none;
    width: max-content;
    height: max-content;
    margin: auto;
    padding: 0;
}
img.photo-grid-item {
    width: 15vw;
    min-width: 128px;
    height: auto;
}

/* .page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* .aside-content {
    width: 35%;
} */
