
/* Прайс-лист */
h4.price-list {
    margin: 0 auto 10px 5%;
}
div.price-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}
div.price-list-item {
    height: 15vh;
    min-height: 200px;
    margin: 20px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid #f9f9f9;
    border-top: 1px solid #f9f9f9;
    background-color: rgb(72, 74, 77);
    transition: 0.3s;
}
div.price-list-item:hover {
    background-color: rgb(102, 104, 107);
}
.prod-item {
    height: 100%;
}
img.merch-image {
    margin-right: 2.5%;
    transition: 0.5s;
}
img.merch-image:hover {
    transform: scale(1.2);
}
div.not-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2.5%;
    width: 100%;
}
div.prod-info {
    display: flex;
    flex-direction: column;

    min-width: 110px;
    max-width: 70%;
}
div.description {
    padding: 0 0 5px 0;
    overflow: auto;
}
div.buy {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 5%;
}
h2.price {
    align-self: flex-end;
    text-align: right;
}
button.buy-button {
    align-self: flex-end;
    background-color: rgb(27, 29, 32);
    margin-bottom: 20px;
}
button.buy-button:hover {
    background-color: gray;
}

/* Истории */
h4.stories {
    margin: 0 5% 10px auto;
    text-align: right;
}
div.stories.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.story.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 16px 4px;
    height: 650px;
    width: 350px;

    background-color: rgb(72, 74, 77);
    border-top: 1px #f9f9f9 solid;
    border-bottom: 1px #f9f9f9 solid;  

    transition: background-color 0.3s;
}
div.story.header {
    align-self: center;
    font-size: 250%;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin: 0 0 10px 0;
    height: 20%;
}
img.story {
    align-self: center;
    width: 80%;
}
div.story.text {
    align-self: center;
    width: 80%;
    padding: 16px 8px 16px;
    text-align: center;
    overflow: auto;
    height: 10%;
}